.main-menu
    ul.main-menu__list
        li.main-menu__item 
            a(href="").main-menu__link HOME
        li.main-menu__item 
            a(href="").main-menu__link PHOTOAPP
        li.main-menu__item 
            a(href="").main-menu__link
                img(src="../../static/images/Livello_2.png")
        li.main-menu__item 
            a(href="").main-menu__link DESIGN
        li.main-menu__item 
            a(href="").main-menu__link DOWNLOAD                    
