extends blocks/template/template

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	.section-one-wrap
		.section.section--one
			.title.title--section Rappresent your life with a simple photo
			.title-sub.title-sub--section Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			.btn-wrap
				a(href="#").button get started
	.section-two-wrap
		.section.section--two
			.title.title--section DESIGN
			.title-sub.title-sub--section Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			.btn-wrap
				a(href="#").button learn more	