ul.social
    li.social__item
        a(href="#").social__link
            i.fab.fa-twitter
    li.social__item
        a(href="#").social__link
            i.fab.fa-flickr 
    li.social__item
        a(href="#").social__link
            i.fab.fa-dribbble                     